html {
	color: white;
	font-family: sans-serif;
	background-color: #333

}

body {

  background-size: cover;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

input[type=text]{
  color:black;
  font-weight: normal;
  padding-left: 0.5em;
  font-family: sans-serif;
}

.logo {
	height: 100px;
	width: 430px;
	background-image: url("https://www.looneylabs.com/sites/default/files/marketing_images/MadLibsTheGameLogo.png")

}