<!doctype html>
<html>
<head>
  <title>Word Selection</title>
    <link rel="stylesheet" 
    href="static/madlibs.css">
</head>

<body>
    <div class="logo"></div>
    <form action="/madlib">
    	Please make some choices. These will go into Madlibs :D
    	<div>
    		<label>Person:</label>
    		<textarea name="person"></textarea>
    	</div>

    	<div>
    		Color: 
    		<select name="color">
    			<option value="pink">Pink</option>
    			<option value="blue">Blue</option>
    			<option value="black">Black</option>
    			<option value="red">Red</option>
    			<option value="rainbow">Rainbow</option>
    		</select>
		</div>

		<div>
			Noun:
			<input type="radio" name="noun" value="bear">
			<label>Bear</label>
			<input type="radio" name="noun" value="table">
			<label>Table</label>
			<input type="radio" name="noun" value="teacup">
			<label>Teacup</label>
			<input type="radio" name="noun" value="Tesla">
			<label>Tesla</label>
		</div>

    	<div>
    		Adjective: 
    		<select name="adjective">
    			<option value="slimey">Slimey</option>
    			<option value="bitey">Bitey</option>
    			<option value="sparkly">Sparkly</option>
    			<option value="happy">Happy</option>
    			<option value="strong">Strong</option>
    		</select>
		</div>

    	<div>
    		Verb (Past Tense): 
    		<select name="verb">
    			<option value="ran">Ran</option>
    			<option value="hopped">Hopped</option>
    			<option value="sauntered">Sauntered</option>
    			<option value="trudged">Trudged</option>
    			<option value="flew">Flew</option>
    		</select>
		</div>

    	<input type="submit">
    </form>
</body>
</html>
